.footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
  height: 10rem;
  width: 30.75rem;
  margin-bottom: 5rem;
}

.socialIcons {
  display: flex;
  align-items: center;
  width: 58%;
  justify-content: space-around;
}
.footerMid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer h6 {
  color: grey;
}
